@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.contact-container form div {
  margin-bottom: 1rem;
}

.contact-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif; /* Aplicar la fuente Poppins */
}

.contact-container textarea {
  overflow: hidden; /* Importante para ocultar el scrollbar */
  resize: none;     /* Desactivar el resize manual */
}

.contact-container button {
  width: 100%;
  padding: 0.5rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: rgb(114, 148, 120);
  font-size: 0.875rem;
}
