@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 17%;
  }
}

@keyframes blinkCaret {
  100% {
    border-color: transparent;
  }
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid orange; /* Efecto del cursor de escritura */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typewriter 4s steps(40, end) 1s 1 normal both,
    blinkCaret 0s step-end infinite;
}



.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh; /* Altura total de la vista para centrar verticalmente */
  box-sizing: border-box;
}

.profile-pic {
  width: 300px;
  height: 410px;
  border-radius: 2.5%;
  margin-right: 110px; /* Separación prudente de la foto */
  object-fit: cover; /* Para asegurar que la imagen se ajuste bien */
  transform: rotate(4.1deg);
  border: 0.1px solid rgba(64, 107, 163, 0.2); /* Borde negro muy delgado y transparente */
  animation:
    typewriter 4s steps(40, end) 1s 1 normal both,
    blinkCaret .75s step-end infinite;
}

.about-me-content {
  max-width: 600px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar contenido verticalmente */
}

.about-me-content h2 {
  margin-bottom: 10px;
  text-align: center;
}

.about-me-content p {
  line-height: 1.6;
}
