<div class="about-me-container">
  <img src="/photos/Fotografia1.jpeg" alt="Foto de Yeyson" class="profile-pic">
  <div class="about-me-content">
    <h2>Acerca de mí</h2>
    <p>
      ¡Hola! Soy Yeyson. Apasionado por la tecnología y el desarrollo de software.
      Empecé a programar cuando tenía 18 años en el bachillerato y ahora voy a la universidad tambien 
      trabajo en soporte de aplicaciones web con analisis para la solucion de problemas y automatizacion 
      de procesos, tambien hago contenido en Youtube, no hay mejor regalo que el aprendizaje.
    </p>
    <p>
      En mi tiempo libre, me encanta explorar nuevas tecnologías, con migo llevo una pasion por todo lo que hago. También disfruto de la lectura uno de mis libros favoritos El principito "Sólo se ve bien con el corazón; lo esencial es invisible a los ojos", siento que todo ser humano tiene la capacidad de hacerlo todo posible, pero debemos ser consecuentes.
    </p>
    <p>
      Siempre estoy en la búsqueda de nuevos desafíos y oportunidades para crecer tanto profesional como personalmente. Creo firmemente en el poder de la colaboración y el aprendizaje continuo, y estoy comprometido a compartir mis conocimientos y experiencias con la comunidad tecnológica.
    </p>
  </div>

</div>
