<div class="about-me-container">
  <img src="/photos/Fotografia1.jpeg" alt="Foto de Yeyson" class="profile-pic">
  <div class="about-me-content">
    <h2>Acerca de mí</h2>
    <p>
      ¡Hola! Soy Yeyson. Apasionado por la tecnología y el desarrollo de software.
      Empecé a programar cuando tenía 10 años con un Amstrad y ahora lidero equipos de desarrollo en empresas multinacionales.
    </p>
    <p>
      En mi tiempo libre, me encanta explorar nuevas tecnologías, asistir a conferencias y talleres, y contribuir a proyectos de código abierto. También disfruto de la fotografía y los viajes, ya que me permiten desconectar y encontrar inspiración en diferentes culturas y paisajes.
    </p>
    <p>
      Siempre estoy en la búsqueda de nuevos desafíos y oportunidades para crecer tanto profesional como personalmente. Creo firmemente en el poder de la colaboración y el aprendizaje continuo, y estoy comprometido a compartir mis conocimientos y experiencias con la comunidad tecnológica.
    </p>
  </div>

</div>
