<footer>
  <div class="footer-container">
    <div class="footer-left">
      <img src="/img/Logotipo.png" alt="Logotipo" class="footer-image">
      <div class="footer-separator"></div>
      <div class="footer-text">
        <h3>Developer Jr. Yeysoon</h3>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=yeysonaldair13@gmail.com"  class="email-link">
          yeysonaldair13&#64;gmail.com
        </a>
        <p>© <span id="currentYear">{{ currentYear }}</span> Developer Yeysoon. Todos los derechos reservados.</p>
      </div>
    </div>
    <div class="footer-right">
      <a href="https://github.com/Yeysoon" class="social-icon">
        <img src="/icons/Github.png" alt="Github" />
      </a>
      <a href="https://www.linkedin.com/in/yeysoon/" class="social-icon">
        <img src="/icons/Linkedin.png" alt="Linkedin" />
      </a>
      <a href="https://www.youtube.com/@yeysoon" class="social-icon">
        <img src="/icons/Youtube.png" alt="YouTube" />
      </a>
      <a href="https://wa.me/+50246402539" class="social-icon">
        <img src="/icons/Whatsapp.png" alt="Whats App" />
      </a>
    </div>
  </div>
</footer>
