footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.footer-image {
  width: 50px; /* Ajusta el ancho según tu imagen */
  height: auto;
  margin-right: 20px; /* Ajusta el margen derecho según tu diseño */
}
