<footer>
  <div class="footer-container">
    <!-- Logo e Información -->
    <div class="footer-left">
      <img src="/img/Logotipo.png" alt="Logotipo" class="footer-image">
      <div class="footer-separator"></div>
      <div class="footer-text">
        <h3>Developer Jr. Yeysoon</h3>
        <p>© <span id="currentYear">{{ currentYear }}</span> Developer Yeysoon. Todos los derechos reservados.</p>
      </div>
    </div>

    <!-- Iconos de Redes Sociales -->
    <div class="footer-right">
      <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
      <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fa fa-youtube"></i></a>
      <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</footer>
