@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background: linear-gradient(to bottom, #454555, #080425); /* Degradado de fondo */
  font-family: 'Poppins', sans-serif; /* Aplicar la fuente Poppins */
  margin: 0;
  padding: 0;
  color: white; /* Cambiar el color del texto para que sea visible en el fondo oscuro */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegurar que el body tenga al menos la altura de la ventana */
}

.content-wrapper {
  flex: 1; /* Permitir que el contenido principal se expanda */
}

footer {
  width: 100%;
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Poppins', sans-serif; /* Aplicar la fuente Poppins */
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between; /* Asegura que los elementos se distribuyan adecuadamente */
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-image {
  width: 100px;
  height: auto;
}

.footer-text {
  display: flex;
  flex-direction: column;
}

.footer-text h3,
.footer-text p {
  margin: 0;
  font-size: 14px;
}

.footer-separator {
  width: 2px;
  height: 50px;
  background-color: #fff;
}

.footer-right {
  display: flex;
  gap: 15px;   /* Espacio entre los iconos */
}

.social-icon {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #aaa;
}

.social-icon img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  transition: opacity 0.3s;
}

.social-icon img:hover {
  opacity: 0.7;
}

.email-link {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}
