footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-image {
  width: 100px;
  height: auto;
}

.footer-text {
  display: flex;
  flex-direction: column;
}

.footer-text h3,
.footer-text p {
  margin: 0;
  font-size: 14px;
}

.footer-separator {
  width: 2px;
  height: 50px;
  background-color: #fff;
}

.footer-right {
  position: absolute;
  right: 40px; /* Ajusta la distancia del borde derecho */
  top: 50%;    /* Centra verticalmente en el footer */
  transform: translateY(-50%); /* Ajusta para centrar exactamente */
  display: flex;
  gap: 15px;   /* Espacio entre los iconos */
}


.social-icon {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #aaa;
}


.social-icon img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  transition: opacity 0.3s;
}

.social-icon img:hover {
  opacity: 0.7;
}


