@keyframes subtleGlow {
  0% {
    box-shadow: 0 0 2px rgba(7, 11, 68, 0.2);
  }
  50% {
    box-shadow: 0 0 5px rgba(75, 72, 231, 0.4);
  }
  100% {
    box-shadow: 0 0 2px rgba(29, 18, 95, 0.2);
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-scrolled {
  background-color: rgba(10, 78, 117, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  text-align: center;
  margin: 0 5px; /* Espacio entre los elementos */
}

.nav-item {
  color: #fff; /* Color del texto */
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s, border-radius 0.3s;
  background-color: transparent; /* Fondo transparente por defecto */
  border-radius: 20px; /* Bordes redondeados */
}

.nav-item:hover {
  background-color: rgba(146, 141, 141, 0.24); /* Color de fondo al pasar el puntero */
}

.nav-item.active {
  background-color: rgba(146, 141, 141, 0.24); /* Color de fondo de la opción activa */
  color: rgb(255, 255, 255);
  border-radius: 20px; /* Bordes redondeados para la opción activa */
  border: 0.1px solid #1a1a1a5e; /* Borde negro muy delgado */
  animation: subtleGlow 3s infinite alternate;
}

.logo {
  height: 25px; /* Ajusta el tamaño del logo */
  margin-left: 1rem;
}

.download-btn {
  background-color: rgba(146, 141, 141, 0.24); /* Color del botón de descarga */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 1s;
  margin-left: -1.5rem; /* Espacio entre el logo y el botón */
  margin-right: 15px;
  border: 0.1px solid #1a1a1a5e; /* Borde negro muy delgado */
  animation: subtleGlow 3s infinite alternate;
}

.download-btn:hover {
  background-color: rgba(145, 34, 34, 0.705); /* Color del botón al pasar el puntero */
  border: 0.1px solid #1a1a1a5e; /* Borde negro muy delgado */
  animation: subtleGlow 3s infinite alternate;
}

