<div class="about-me-container">
  <div class="profile-pic-container">
    <img src="/photos/Fotografia1.jpeg" alt="Foto de Yeyson" class="profile-pic">
    <div class="vertical-line"></div>
  </div>
  <div class="about-me-content">
    <h1>Hola Soy Yeysoon
      <div class="disponible-boton">Disponible para trabajar</div>
    </h1>
    <h3>Ing. en Sistemas de Información | STA Assistant - HR Projects</h3>
    <div class="home-content">
        <p>Ingeniero en Sistemas (7mo. Semestre), Desarrollador Jr con experiencia en Java y conocimientos básicos de C++. Gestiono con Angular y Spring Boot para crear aplicaciones web eficientes, y tengo habilidades en diseño frontend con Bootstrap. Además, manejo bases de datos PostgreSQL y MySQL para el desarrollo completo de proyectos, me caracterizo por ser una persona confiable, honesta, incansable por lo que quiere lograr, tengo la misión y deseo para formar parte de una empresa con fuerte dinámica competitiva con un sector a fin de lograr un mayor conocimiento tanto en consolidación de valores como desarrollo profesional.</p>
        <p>En mi tiempo libre, me encanta explorar nuevas tecnologías, asistir a conferencias y talleres, y contribuir a proyectos de código abierto. También disfruto de la fotografía y los viajes, ya que me permiten desconectar y encontrar inspiración en diferentes culturas y paisajes.</p>
        <p>Siempre estoy en la búsqueda de nuevos desafíos y oportunidades para crecer tanto profesional como personalmente. Creo firmemente en el poder de la colaboración y el aprendizaje continuo, y estoy comprometido a compartir mis conocimientos y experiencias con la comunidad tecnológica.</p>
    </div>
  </div>
  <div class="left-section">
    <div class="social-section">
      <ul class="social-icons">
        <li *ngFor="let social of socialLinks">
          <a [href]="social.url" [attr.data-name]="social.name" target="_blank">
            <img [src]="social.icon" class="social-icon" [alt]="social.name">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="licenses-container">
  <div class="licenses-content">
    <div class="licence-title">
      <img src="/icons/Certificado.png" alt="Icono">
      <h1>Habilidades y Aptitudes</h1>
    </div>
    <p class="separator">
    <div class="license-item">
      <img src="/logos/udemy.png" alt="Udemy logo" class="licenses-pic">
      <div class="license-details">
        <h2>Angular & Spring Boot: Creando webb app full stack</h2>
        <p>Emitido: Marzo 2024</p>
        <p>ID de la Credencial: UC-ce79339c-40dd-4473-b382-1421a76eff24</p>
        <a href="https://www.udemy.com/certificate/UC-47f3e508-8824-4c46-aa14-a8c14eb95e2f/" class="show-credential-button">Mostrar credencial
        </a>
      </div>
    </div>

    <div class="license-item">
      <img src="/logos/udemy.png" alt="Udemy logo" class="licenses-pic">
      <div class="license-details">
        <h2>Master Completo en Java de Cero a Experto 2024</h2>
        <p>Emitido: Enero 2024</p>
        <p>ID de la Credencial: UC-312ebcec-6936-4af2-b6eb-649f838163b</p>
        <a href="https://www.udemy.com/certificate/UC-312ecbec-6936-4af2-b6eb-649f8381663b/" class="show-credential-button">Mostrar credencial
        </a>
      </div>
    </div>

    <div class="license-item">
      <img src="/logos/udemy.png" alt="Udemy logo" class="licenses-pic">
      <div class="license-details">
        <h2>Máster en SQL Server: Nivel Profesional [2024]</h2>
        <p>Emitido: Diciembre 2024</p>
        <p>ID de la Credencial: UC-47f3e508-8824-4c46-a14-a8c14eb95e2f</p>
        <a href="https://www.udemy.com/certificate/UC-47f3e508-8824-4c46-aa14-a8c14eb95e2f/" class="show-credential-button">Mostrar credencial
        </a>
      </div>
    </div>
  </div>
</div>



<div class="licenses-container">
  <div class="licenses-content">
    <div class="licence-title">
      <img src="/icons/Certificado.png" alt="Icono">
      <h1>Licencias y certificaciones</h1>
    </div>
    <p class="separator">
    <div class="license-item">
      <img src="/logos/udemy.png" alt="Udemy logo" class="licenses-pic">
      <div class="license-details">
        <h2>Angular & Spring Boot: Creando webb app full stack</h2>
        <p>Emitido: Marzo 2024</p>
        <p>ID de la Credencial: UC-ce79339c-40dd-4473-b382-1421a76eff24</p>
        <a href="https://www.udemy.com/certificate/UC-47f3e508-8824-4c46-aa14-a8c14eb95e2f/" class="show-credential-button">Mostrar credencial
        </a>
      </div>
    </div>

    <div class="license-item">
      <img src="/logos/udemy.png" alt="Udemy logo" class="licenses-pic">
      <div class="license-details">
        <h2>Master Completo en Java de Cero a Experto 2024</h2>
        <p>Emitido: Enero 2024</p>
        <p>ID de la Credencial: UC-312ebcec-6936-4af2-b6eb-649f838163b</p>
        <a href="https://www.udemy.com/certificate/UC-312ecbec-6936-4af2-b6eb-649f8381663b/" class="show-credential-button">Mostrar credencial
        </a>
      </div>
    </div>

    <div class="license-item">
      <img src="/logos/udemy.png" alt="Udemy logo" class="licenses-pic">
      <div class="license-details">
        <h2>Máster en SQL Server: Nivel Profesional [2024]</h2>
        <p>Emitido: Diciembre 2024</p>
        <p>ID de la Credencial: UC-47f3e508-8824-4c46-a14-a8c14eb95e2f</p>
        <a href="https://www.udemy.com/certificate/UC-47f3e508-8824-4c46-aa14-a8c14eb95e2f/" class="show-credential-button">Mostrar credencial
        </a>
      </div>
    </div>
  </div>
</div>
