<div class="about-me-container">
  <div class="profile-pic-container">
    <img src="/photos/Fotografia1.jpeg" alt="Foto de Yeyson" class="profile-pic">
    <div class="vertical-line"></div>
  </div>
  <div class="about-me-content">
    <h1>Hola Soy Yeysoon
      <div class="disponible-boton">Disponible para trabajar</div>
    </h1>
    <h3>Ing. en Sistemas de Información | HR Metrics Assistant</h3>
    <div class="home-content">
        <p>Ingeniero en Sistemas (7mo. Semestre), Desarrollador Jr con experiencia en Java y conocimientos básicos de C++. Gestiono con Angular y Spring Boot para crear aplicaciones web eficientes, y tengo habilidades en diseño frontend con Bootstrap. Además, manejo bases de datos PostgreSQL y MySQL para el desarrollo completo de proyectos, me caracterizo por ser una persona confiable, honesta, incansable por lo que quiere lograr, tengo la misión y deseo para formar parte de una empresa con fuerte dinámica competitiva con un sector a fin de lograr un mayor conocimiento tanto en consolidación de valores como desarrollo profesional.</p>
        <p>En mi tiempo libre, me encanta explorar nuevas tecnologías, asistir a conferencias y talleres, y contribuir a proyectos de código abierto. También disfruto de la fotografía y los viajes, ya que me permiten desconectar y encontrar inspiración en diferentes culturas y paisajes.</p>
        <p>Siempre estoy en la búsqueda de nuevos desafíos y oportunidades para crecer tanto profesional como personalmente. Creo firmemente en el poder de la colaboración y el aprendizaje continuo, y estoy comprometido a compartir mis conocimientos y experiencias con la comunidad tecnológica.</p>
    </div>
  </div>
  <div class="left-section">
    <div class="social-section">
      <ul class="social-icons">
        <li *ngFor="let social of socialLinks">
          <a [href]="social.url" [attr.data-name]="social.name" target="_blank">
            <img [src]="social.icon" class="social-icon" [alt]="social.name">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="licenses-container">
  <div class="licence-title">
  <h1>Licencias y certificaciones</h1>
</div>
  <div class="licenses-pic-container">
    <img src="/logos/udemy.png" alt="Foto de Yeyson" class="licenses-pic">
    <div class="verticals-line"></div>
  </div>
  <div class="licenses-content">

          <div class="disponible-boton">Disponible para trabajar</div>
        <div class="license-content">
        <p>Angular & Spring Boot: Creando webb app full stack</p>
</div>

