@keyframes subtleGlow {
  0% {
    box-shadow: 0 0 2px rgba(7, 11, 68, 0.2);
  }
  50% {
    box-shadow: 0 0 5px rgba(75, 72, 231, 0.4);
  }
  100% {
    box-shadow: 0 0 2px rgba(29, 18, 95, 0.2);
  }
}

/* Estilos generales */
@keyframes typewriter {
  from { width: 0; }
  to { width: 17%; }
}

@keyframes blinkCaret {
  100% { border-color: white; }
}

@keyframes borderAnimation {
  0% { border-color: rgba(255, 255, 255, 0.123); }
  25% { border-color: rgba(0, 17, 255, 0.123); }
  50% { border-color: rgba(139, 147, 214, 0.123); }
  75% { border-color: rgba(37, 37, 112, 0.123); }
  100% { border-color: rgba(170, 166, 177, 0.123); }
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typewriter 1s steps(40, end) 1s 1 normal both, blinkCaret 0s step-end infinite;
}

.about-me-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  align-content: center;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 200px;
}

.profile-pic-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.profile-pic {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.1px solid rgba(64, 107, 163, 0.2);
}

.vertical-line {
  position: relative;
  height: 0%;
  width: 75px;
  color: #f2ff35;
  margin-left: -50px;
}

.home-content {
  max-width: 600px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.home-content::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #f1ee39;
}

.about-me-content h3 {
  margin-bottom: 40px;
  text-align: justify;
  color: #FFD700;
}

.about-me-content h1 {
  margin-bottom: 1px;
  text-align: justify;
}

.about-me-content p {
  line-height: 1.6;
}

.social-section {
  position: fixed;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: background-color 2s;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  border: 0.1px solid #1a1a1a5e;
  animation: subtleGlow 3s infinite alternate;
}

.social-section:hover {
  background-color: #04042944;
  border: 0.1px solid #1a1a1a5e;
  animation: subtleGlow 15s infinite alternate;
}

.social-section h3 {
  color: white;
  margin-bottom: 1rem;
}

.social-section ul {
  list-style: none;
  padding: 0;
}

.social-section li {
  margin-bottom: 1rem;
}

.social-section a {
  color: #f5f5dc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.social-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.social-section a:hover {
  color: #e5e5c9;
}

.disponible-boton {
  left: 100px;
  top: 100%;
  transform: translate(162px, -8px);
  background-color: #2f415762;
  border: 2px solid rgb(219, 219, 219);
  color: white;
  padding: 3px 6px;
  font-size: 10px;
  text-align: left;
  font-weight: bold;
  border-radius: 150px;
  display: inline-block;
  animation: borderAnimation 2s infinite;
}

/* Estilos para la sección de licencias */
.licenses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px; /* Ajusta este valor según sea necesario */
}

.licenses-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* styles.css o el archivo de estilos de tu componente */
.licence-title {
  display: flex;
  align-items: center;
  justify-content: center; /* Si deseas centrar ambos elementos */
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px; /* Asegúrate de que "px" esté en minúsculas */
}

.licence-title img {
  margin-right: 40px; /* Ajusta el espacio entre la imagen y el título */
  width: 45px; /* Cambia el tamaño según tus necesidades */
  height: auto; /* Mantiene la proporción de la imagen */
}

.license-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.licenses-pic {
  width: 65px;
  height: 65px;
  border-radius: 10%;
  object-fit: cover;
  border: 0.1px solid rgba(64, 107, 163, 0.2);
  margin-right: 30px;
  border-top: 10px;
}

.license-details {
  display: flex;
  flex-direction: column;
}

.license-details h2 {
  margin: 0;
  font-size: 16px;
}

.license-details p {
  margin: 5px 0;
  color: rgba(160, 235, 218, 0.815);
  font-size: 14px;
}

.show-credential-button {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1); /* Azul brillante */
  color: rgb(255, 255, 255); /* Texto blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 13px; /* Botones redondeados */
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-sizing: border-box;
  text-align: center; /* Centra el texto */
  width: 35%; /* Ajusta el ancho automáticamente */
  height: 0%; /* Ajusta la altura automáticamente */
  background-color: #04042944;
  border: 0.1px solid #1a1a1a5e;
  animation: subtleGlow 15s infinite alternate;
}

.show-credential-button:hover {
  transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el mouse */
  background-color: #04042944;
  border: 0.1px solid #1a1a1a5e;
  animation: subtleGlow 15s infinite alternate;
}

.separator{
  margin-top: 50px;
}
.categorias-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  padding-left:70px;
  max-width: 40%; /* Ajusta este valor según el espacio disponible */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  border: 1px solid transparent; /* Borde transparente */
}

.categoria-btn {
  background-color: rgba(255, 255, 255, 0.1); /* Azul brillante */
  color: white; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 14px; /* Botones redondeados */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-sizing: border-box;
  text-align: center; /* Centra el texto */
  width: auto; /* Ajusta el ancho automáticamente */
  height: auto; /* Ajusta la altura automáticamente */
  margin: 5px; /* Espacio alrededor de los botones */
  background-color: #04042944;
  border: 0.1px solid #1baab45b;
  animation: subtleGlow 15s infinite alternate;
}

.categoria-btn:hover {
  transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el mouse */
  background-color: #04042944;
  border: 0.1px solid #1a1a1a5e;
  animation: subtleGlow 15s infinite alternate;
}
