<div class="about-me-container">
  <img src="/photos/Fotografia1.jpeg" alt="Foto de Yeyson" class="profile-pic">
  <div class="about-me-content">
    <h1>Yeyson Aldair Barillas Hernández
    </h1>
    <h3>Ing. en Sistemas de Información | HR Metrics Asistant</h3>
    <p>
      Ingeniero en Sistemas (7mo. Semestre), Desarrollador Jr con experiencia en Java y conocimientos básicos de C++. gestiono con Angular y Spring Boot para crear aplicaciones web eficientes, y tengo habilidades en diseño frontend con Bootstrap. Además, manejo bases de datos PostgreSQL y MySQL para el desarrollo completo de proyectos, me caracterizo por ser una persona confiable, honesta, incansable por lo que quiere lograr, tengo la misión y deseo para formar parte de una empresa con fuerte dinámica competitiva con un sector a fin de lograr un mayor conocimiento tanto en consolidación de valores como desarrollo profesional.
    </p>
    <p>
      En mi tiempo libre, me encanta explorar nuevas tecnologías, asistir a conferencias y talleres, y contribuir a proyectos de código abierto. También disfruto de la fotografía y los viajes, ya que me permiten desconectar y encontrar inspiración en diferentes culturas y paisajes.
    </p>
    <p>
      Siempre estoy en la búsqueda de nuevos desafíos y oportunidades para crecer tanto profesional como personalmente. Creo firmemente en el poder de la colaboración y el aprendizaje continuo, y estoy comprometido a compartir mis conocimientos y experiencias con la comunidad tecnológica.
    </p>
  </div>

</div>
