.projects-section {
  min-height: 100vh;
  padding: 2rem;
  color: white;
}

.projects-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.code-symbol {
  color: #9ca3af;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  background-color: #1a1f2e;
  border-radius: 0.5rem;
  overflow: hidden;
}

.project-grid {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-image-container {
  position: relative;
  overflow: hidden;
  font-size: 100px;
  border-radius: 10px;
  background-color: #1a1a2e; /* Fondo para evitar bordes vacíos */
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.project-image {
  border-radius: 10px; /* Opcional, para redondear esquinas */
}


.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.nav-button.prev {
  left: 10px;
}

.nav-button.next {
  right: 10px;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.project-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.technologies-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.technology-badge {
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  background-color: #0ea5e9;
  color: white;
}

.technology-badge.nextjs {
  background-color: black;
}

.project-description,
.project-stats {
  color: #9ca3af;
  line-height: 1.5;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #1d2433;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #2d3444;
}

.button svg {
  width: 1.25rem;
  height: 1.25rem;
}
