@keyframes borderAnimation {
  0% { border-color: rgba(255, 255, 255, 0.123); }
  25% { border-color: rgba(0, 17, 255, 0.123); }
  50% { border-color: rgba(139, 147, 214, 0.123); }
  75% { border-color: rgba(37, 37, 112, 0.123); }
  100% { border-color: rgba(170, 166, 177, 0.123); }
}

.projects-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 95px;
}

.projects-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 50px;
}

.code-symbol {
  color: #9ca3af;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.project-grid {
  display: grid;
  gap: 2rem;
  width: 100%;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-card {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
}

.project-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
  height: 300px;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.project-image.active {
  opacity: 1;
}

.project-info {
  padding: 0.5rem;
}

.project-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.technologies-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;

}

.technology-badge {
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  background-color:#202041c7;
  color: white;
  border: 1px solid rgb(219, 219, 219);
  animation: borderAnimation 2s infinite;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  animation: borderAnimation 15s infinite;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #29344d;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  animation: borderAnimation 2s infinite;
}

.project-description,
.project-stats {
  color: #9ca3af;
  margin-bottom: 1rem;
}


.technology-badge:hover {
  transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el mouse */
  background-color: #04042944;
  border: 0.1px solid #ffffff5e;
  animation: subtleGlow 15s infinite alternate;
}
