<div class="container">
  <h1>Professional Experience</h1>
  <div class="experience">
    <h2>Content creator</h2>
    <h3>Twitch</h3>
    <p>Present...</p>
    <p>I share about programming and web development on various platforms. Awarded as the best non-English content creator in 2022 and best community in 2023 by GitHub.</p>
    <a href="#">Know more</a>
  </div>
  <div class="experience">
    <h2>Principal Frontend Engineer</h2>
    <h3>Adevinta Spain</h3>
    <p>September 2022</p>
    <p>Responsible for the platform, components, and utilities for the creation and development of web applications. Achieved a 30% improvement in software delivery. Implementation of continuous integration and deployment measures with A/B testing across more than 15 teams.</p>
  </div>
</div>
